@import url('https://fonts.googleapis.com/css?family=Michroma&display=swap'
);

body {
    font-family: Michroma, serif;
    background: linear-gradient(90deg, #1e1f49 0%, #4b4545da 100%);
}

p {
    color: aqua;
}

.nav-link {
    color: aquamarine;
}

.navbar-nav .nav-link.active {
 color: aliceblue;
}

.navbar-brand img {
    width: 45px;
}

.navbar-toggler {
    background-color: rgba(93, 102, 102, 0.329);
}

.sidebar { 
    color: aqua;
    background: linear-gradient(270deg, #1e1f49 0%, #4b4545da 100%);
}

.card {
        background: linear-gradient(270deg, #1e1f49 0%, #4b4545da 100%);
        color: aqua;

}

.card a {
    text-decoration: none;
            color: aqua;

}

.slide-text, 
.footer-text {
    color: aqua;
    margin: auto auto;
}

footer {
        background: linear-gradient(270deg, #4b4545da 0%, #1e1f49 100%);

}

.media-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-anim {
    animation: call 4s ease 0s 1 normal forwards;
}

@keyframes call {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(6deg);
	}

	30% {
		transform: translateX(15px) rotate(-6deg);
	}

	45% {
		transform: translateX(-15px) rotate(3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(-2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(1.2deg);
	}
}

@media (max-width: 766px) {
    .carousel-indicators {
        display: none;
    }
}